html{
    height: 100%;
}
section{
    display: flex;
}
body{
    background-image: url(image/health.jpg);
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    
}
.hed1 h1{
    text-align: center;
    background-color: aliceblue;
    color: blue;
    text-shadow: 2px 2px lightskyblue;
}
.t1 caption{
    color: yellow;
    margin: 35px;
    font-size: 30px;
}
.t1 th{
    color: blue;
    font-size: 19px;
}
.t1 td{
    background-color: darkslategray;
    border-radius: 4px;
    border: 2px solid white;
    color: white;
    font-size: 20px;
}
.tbl {
    border-right: 2px solid black;
    width: 30%;
    height: 100vh;
}
.t1 {
    margin-left: 20px;
}
button{
    border: none;
    color: white;
    background-color: purple;
    font-size: 16px;
    border-radius: 3px;
}

